<div class="landing-container" id="landing">
  <div class="contents-container">
    <div class="contents-box">
      <!-- <a href="<%= I18n.locale == :en ? '/ko' : '/' %>" class="language">
        <%= I18n.locale == :en ? '한글버전' : 'English' %>
      </a> -->
      <%= image_tag('logo_top@2x.png', class: 'logo-top') %>
      <h1 class="logo-text">HUNT</h1>
      <h1 class="contents-title"><%= t('main.title') %></h1>
      <p class="contents-text">
        <%= t('main.sub_title',
          count: number_with_delimiter(@stats[:count]),
          value: number_to_currency(@stats[:value]),
          days: number_with_delimiter(@products_days),
        ).html_safe %>
      </p>
      <button data-target="hunt-platform" class="primary-button section-link"><%= t('terms.learn_more') %></button>
    </div>
  </div>
  <div class="thumbnail-container">
    <% @thumbnails.each do |thumbnail| %>
      <div class="thumbnail">
        <%= image_tag(thumbnail) %>
      </div>
    <% end %>
  </div>
</div>

<div class="main-container">
  <div class="tablet-hide">
    <div class="spy-left">
      <%= render partial: 'home/menu_links' %>
    </div>
    <div class="spy-right">
      <a href="https://steemhunt.com" target="_blank" class="primary-button"><%= t('terms.live_product') %></a>
    </div>
  </div>
  <div class="tablet-only">
    <%= render partial: 'home/side_nav' %>
  </div>

  <div class="mobile-menu-container">
    <a id="openNav" href="javascript:void(0)" class="menu-button">
      <%= image_tag('icon-menu.svg') %>
    </a>
    <div class="mobile-spy-right">
      <a href="https://steemhunt.com" target="_blank" class="primary-button"><%= t('terms.live_product') %></a>
    </div>
  </div>

  <div class="main-row flex-row section first" id="hunt-platform">
    <div class="main-col-text">
      <h1 class="primary-color"><%= t('platform.title') %></h1>
      <p class="grey-color"><%= t('platform.content') %></p>
    </div>
    <div class="main-col-image image-1">
      <%= image_tag 'img_building_token@2x.png' %>
    </div>
  </div>

  <div class="main-row flex-row section reverse" id="portfolio">
    <div class="main-col-image image-2">
      <%= image_tag 'img-hunt-economy@2x.png' %>
    </div>
    <div class="main-col-text right">
      <h1 class="primary-color"><%= t('portfolio.title').html_safe %></h1>
      <p class="grey-color"><%= t('portfolio.content') %></p>
      <div class="hunt-bar">
        <%= image_tag('logo_sh@2x.png') %>
        <p class="grey-color"><span class="primary-color"><%= t('terms.steemhunt') %></span><%= t('portfolio.steemhunt_is') %></p>
      </div>
      <div class="hunt-bar">
        <%= image_tag('logo_rh@2x.png') %>
        <p class="grey-color"><span class="primary-color"><%= t('terms.reviewhunt') %></span><%= t('portfolio.reviewhunt_is') %></p>
      </div>
      <div class="hunt-bar">
        <%= image_tag('logo_ih@2x.png') %>
        <p class="grey-color"><span class="primary-color"><%= t('terms.ideahunt') %></span><%= t('portfolio.ideahunt_is') %></p>
      </div>
    </div>
  </div>

  <div class="main-row section" id="steemhunt">
    <h2 class="primary-color section-title">Steemhunt <span class="icon-text-box">LIVE</span></h2>
    <h1 class="white-color section-subtitle"><%= t('steemhunt.sub_title') %></h1>
    <p class="grey-color"><%= t('steemhunt.content') %></p>
    <div class="col-3">
      <div class="col">
        <h1 class="sans"><%= number_with_delimiter(@stats[:count]) %></h1>
        <p><%= t('steemhunt.column_1') %></p>
      </div>
      <div class="col">
        <h1><%= number_to_currency(@stats[:max_reward]) %></h1>
        <p><%= t('steemhunt.column_2') %></p>
      </div>
      <div class="col">
        <h1><%= number_to_currency(@stats[:value] / @stats[:count]) %></h1>
        <p><%= t('steemhunt.column_3') %></p>
      </div>
    </div>
    <a href="https://steemhunt.com" target="_blank" class="more-link">See the live product <%= image_tag('icon-arrow-right.svg', class: "svg-icon-p") %></a>
    <%= image_tag('img_sh_mockup@2x.png', class: 'full-width sh-mockup mobile-hide') %>
    <%= image_tag('m_img_sh_mockup@2x.png', class: 'full-width sh-mockup mobile-only') %>
  </div>

  <div class="main-row section" id="reviewhunt">
    <h2 class="primary-color section-title">Reviewhunt <span class="icon-text-box">IN DEVLOPMENT</span></h2>
    <h1 class="white-color section-subtitle"><%= t('reviewhunt.sub_title') %></h1>
    <p class="grey-color"><%= t('reviewhunt.content') %></p>
    <%= image_tag('reviewhunt@2x.png', class: 'full-width reviewhunt') %>
  </div>

  <div class="main-row section" id="ideahunt">
    <h2 class="primary-color section-title">Ideahunt</h2>
    <h1 class="white-color section-subtitle"><%= t('ideahunt.sub_title') %></h1>
    <p class="grey-color"><%= t('ideahunt.content') %></p>
    <p class="grey-color"><%= t('ideahunt.content_2') %></p>
    <%= image_tag('ideahunt@2x.png', class: 'full-width ideahunt') %>
  </div>

  <div class="main-row section" id="token-economy">
    <h2 class="primary-color section-title"><%= t('token_economy.title') %></h2>
    <h1 class="white-color section-subtitle"><%= t('token_economy.sub_title') %></h1>
    <div class="col-3 token-economy">
      <div class="col">
        <h3>Use Case 1</h3>
        <%= image_tag 'usecase_1@2x.png' %>
        <p><%= t('token_economy.content') %></p>
      </div>
      <div class="col">
        <h3>Use Case 2</h3>
        <%= image_tag 'usecase_2@2x.png' %>
        <p><%= t('token_economy.content_2') %></p>
      </div>
      <div class="col">
        <h3>Use Case 3</h3>
        <%= image_tag 'usecase_3@2x.png' %>
        <p><%= t('token_economy.content_3') %></p>
      </div>
    </div>
  </div>

  <div class="main-row section" id="token-distribution">
    <h2 class="primary-color section-title">Token Distribution</h2>
    <h1 class="white-color section-subtitle"><%= t('token_distribution.sub_title') %></h1>
    <p class="grey-color"><%= t('token_distribution.content') %></p>

    <table class="token-distribution">
      <tr>
        <td><%= t('token_distribution.row_1') %></td>
        <td class="right"><%= '50%' %></td>
      </tr>
      <tr>
        <td class="grey"><%= t('token_distribution.row_1_1') %></td>
        <td class="right grey"><%= number_to_percentage(@distribution[:delegation], precision: 2) %></td>
      </tr>
      <tr>
        <td class="grey"><%= t('token_distribution.row_1_2') %></td>
        <td class="right grey"><%= number_to_percentage(@distribution[:airdrop], precision: 2) %></td>
      </tr>
      <tr>
        <td class="grey"><%= t('token_distribution.row_1_3') %></td>
        <td class="right grey"><%= number_to_percentage(@distribution[:role_promotion], precision: 2) %></td>
      </tr>
      <tr>
        <td class="grey"><%= t('token_distribution.row_1_4') %></td>
        <td class="right grey"><%= number_to_percentage(@distribution[:participation], precision: 2) %></td>
      </tr>
      <tr>
        <td class="grey"><%= t('token_distribution.row_1_5') %></td>
        <td class="right grey"><%= number_to_percentage(@distribution[:left], precision: 2) %></td>
      </tr>
      <tr>
        <td><%= t('token_distribution.row_2') %></td>
        <td class="right"><%= '30%' %></td>
      </tr>
      <tr>
        <td><%= t('token_distribution.row_3') %></td>
        <td class="right"><%= '10%' %></td>
      </tr>
      <tr>
        <td><%= t('token_distribution.row_4') %></td>
        <td class="right"><%= '10%' %></td>
      </tr>
    </table>
    <div class="checkout-airdrop">
      <a href="https://steemhunt.com/airdrop" target="_blank" class="more-link"><%= t('token_distribution.detail') %> <%= image_tag('icon-arrow-right.svg', class: 'svg-icon-p') %></a>
    </div>
  </div>

  <div class="main-row section" id="roadmap">
    <h2 class="primary-color section-title">Roadmap</h2>
    <table class="roadmap-table">
      <tr>
        <th>Q1-2018</th>
        <td class="center"><span class="bar transparent"></span><span class="circle done"></span><span class="bar"></td>
        <td>Launch Steemhunt.com</td>
      </tr>
      <tr>
        <th>Q2-2018</th>
        <td class="center"><span class="bar"></span><span class="circle done"></span><span class="bar"></td>
        <td>Initiate HUNT token ecosystem bounties</td>
      </tr>
      <tr>
        <th>Q3-2018</th>
        <td class="center"><span class="bar"></span><span class="circle done"></span><span class="bar"></td>
        <td>Launch blockchain account creation directly via Steemhunt.com</td>
      </tr>
      <tr>
        <th>Q4-2018</th>
        <td class="center"><span class="bar"></span><span class="circle done"></span><span class="bar"></td>
        <td>Initiate Steem Witness node to expand community influence</td>
      </tr>
      <tr>
        <th>Q1-2019</th>
        <td class="center"><span class="bar"></span><span class="circle blink"></span><span class="bar"></td>
        <td>Create HUNT token wallet and initiate token listing strategy</td>
      </tr>
      <tr>
        <th>Q2-2019</th>
        <td class="center"><span class="bar"></span><span class="circle blink"></span><span class="bar"></td>
        <td>Issue HUNT ERC20 tokens and list on exchange markets</td>
      </tr>
      <tr>
        <th>Q2-2019</th>
        <td class="center"><span class="bar"></span><span class="circle"></span><span class="bar"></td>
        <td>Launch Reviewhunt beta version</td>
      </tr>
      <tr>
        <th>Q3-2019</th>
        <td class="center"><span class="bar"></span><span class="circle"></span><span class="bar"></td>
        <td>Launch HUNT token payment and exchange solution</td>
      </tr>
      <tr>
        <th>Q4-2019</th>
        <td class="center"><span class="bar"></span><span class="circle"></span><span class="bar transparent"></td>
        <td>Launch Ideahunt alpha version with NFT feature support</td>
      </tr>
    </table>
    </table>
  </div>

  <div class="main-row section" id="whitepaper">
    <h2 class="primary-color section-title">Whitepaper</h2>
    <h1 class="white-color section-subtitle"><%= t('whitepaper.sub_title').html_safe %></h1>
    <p class="grey-color"><%= t('whitepaper.content') %></p>

    <a href="#whitepaper"class="more-link">Read HUNT Pitch Deck (will be released to the public soon) <%= image_tag('icon-arrow-right.svg', class: 'svg-icon-p') %></a>
    <a href="https://steem.io/steem-whitepaper.pdf" target="_blank" class="more-link">Read Steem Whitepaper <%= image_tag('icon-arrow-right.svg', class: 'svg-icon-p') %></a>
  </div>

  <div class="main-row section team-section" id="team">
    <h2 class="primary-color section-title">Team</h2>
    <h1 class="white-color section-subtitle"><%= t('team.sub_title') %></h1>
    <p class="category-title grey-color">Team (<%= @team.size %>)</p>
    <div class="team-container">
      <%= render partial: 'home/person', collection: @team, cached: true %>
    </div>
    <p class="category-title grey-color">Community Roles - Moderators (<%= @moderators.size %>)</p>
    <div class="team-container">
      <%= render partial: 'home/person', collection: @moderators, cached: true %>
    </div>
    <p class="category-title grey-color">Community Roles - Influencers (<%= @influencers.size %>)</p>
    <div class="team-container">
      <%= render partial: 'home/person', collection: @influencers, cached: true %>
    </div>
    <p class="category-title grey-color">Steem Power Sponsers (<%= @delegators.size %>) -  <b class="white-color bold"><%= number_to_currency @total_funded %></b> delegated</p>
    <div class="team-container team-delegators">
      <%= render partial: 'home/person', collection: @delegators, cached: true %>
    </div>

    <button class="primary-button center" id="expandDelegators">See all <%= (@delegators.size - 9) %> sponsors with <%= number_to_currency @total_funded %> delegated</button>
  </div>
</div>
